/* Use cmmd/ to make things a comment or type in these bad boys-> */
/* 
body{
  font-family: georgia, garamond, serif;
  font-size: 14px;
  background-color: blue;
}


main {
  width: 80%;
  top: 0px;
  margin: 0 auto;
  max-width: 900px;
  background-color: rgb(50, 135, 57);
  margin-top: 296px;
  padding-top: 2rem;
} */

nav {
  display: block;
  position: fixed;
  top: 30px;
  left: 0;
  /* margin:0; */
  width: 100%;
  font-size:.7rem;
}
  nav ul {
    list-style-type: none;
    background-color: rgb(98, 189, 106);
    display:flex;
    flex-direction: column;
    text-align: left;
    }
  nav ul li a {
    text-decoration: none;
    padding: .8rem 1rem;
    display: block;
    color:black;
    font-size: 0.7rem;
    text-align: center;
  }
  nav ul li:hover {
    background-color: rgb(72, 175, 81);
  }
  nav ul li ul li a {
    text-decoration: none;
  }
  nav li ul li a {
    padding: .3rem 1.5rem;
    font-size: .7rem;
    text-align: left;
  }
  li ul {
    display:none;
  }
  nav ul li:hover ul {
    display:flex;
    flex-direction: column;
  }
  @media screen and (min-width: 700px) {
    nav ul {
      flex-direction: row;
      justify-content: space-around;
    }
    nav ul li a {
      padding: 1rem 0;
      text-align: center;
    }
    nav ul li {
      flex: 0 0 6rem;
      position: relative;
    }
    li ul li a {
      padding: .3rem 1.3rem;
      font-size: .7rem;
      text-align: left;
    }
    nav ul li ul li {
      flex: 0 1 auto;
      width: 6rem;
    }
  }


/* h1 {
  font-family: "Apple Chancery", cursive;
  font-size: 1.5em;
  text-align: center;
  margin: 0px;
  padding: 5px;
  background-color: rgb(72, 175, 81);
  position:fixed;
  top: 0px;
  left: 0;
  width: 100%;
}

h1 a {
  color: black;
} */
/* 
a.gotoplay {
  text-decoration: none;
}


img {
  width: 80%;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  font-size: 0.9em;
}

.text {
  margin-bottom: 25px;
  padding-bottom: 10px;
}

p {
  line-height: 1.6;
  text-align:justify;
  margin: 25px;
  padding: 10px;
  background-color: rgb(98, 189, 106);
}

.bullets {
  list-style-position: inside;
  line-height: 1.6;
  margin: 25px;
  padding: 10px;
  background-color: rgb(98, 189, 106);
}

@media screen and (min-width:700px) {
  .cover {
  float: right;
  width: 50%;
  }
  .text {
  float: left;
  width: 50%;
  }
  p {
  text-align: left;
  }
  main {
  margin-top: 85px;
  }
}
 */
